:root {
    --primary-color: #066B9D; 
    --secondary-color: #3FBCDE; 
    --accent1-color: #FFBA0A; 
    --accent2-color: #ADADAD; 
    --font-color: #333333; 
    --footer-bg-color: #066B9D; 
    --hero-bg-color: rgba(255, 186, 10, 0.8); 
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--font-color);
    max-width: 80rem;
    margin: auto;
}

header {
    background: var(--primary-color);
    padding: 10px 20px;
    border: 2px solid var(--font-color);
    height: 150px;
    display: grid;
    margin-bottom: 20px;
}

.header-container {
    display: grid;
    grid-template-columns: 45rem 1fr 30px ;
    align-items: center;
    grid-column-start: 3;
}

.header-container nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0F0F0F;
    text-decoration: none;
    padding: 10px 15px;
    border-right: 1px solid var(--font-color);
}

nav a:last-child {
    border-right: none;
}

.header-container nav {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--font-color);
    border-radius: 5px; 
}

.hero {
    position: relative;
    border: 2px solid var(--font-color);
    margin-top: 10px;
}

.hero img {
    display: block; 
    width: 100%; 
    height: auto; 
}

.hero h1 {
    position: absolute;
    font-family: 'Noto Serif', serif;
    font-weight: 700; 
    width: 98.5%;
    text-align: center;
    bottom: 60%; 
    background-color: var(--hero-bg-color);
    color: var(--primary-color);
    font-size: 40px;
    padding: 10px; 
    border: 1px solid var(--font-color);
    margin-left: -1px;
}

.hero article h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 400; 
    margin-top: -5px;
    margin-left: 1rem;
}

.hero article {
    position: absolute;
    top: 65%; 
    left: 10%; 
    right: 10%; 
    background-color: var(--hero-bg-color); 
    padding: 5px; 
    border-radius: 10px;
    border: 1px solid var(--font-color);
}

.hero article p {
    margin-left: 1rem;
    color: var(--font-color);
}

.hero article img {
    float: right;
    margin-right: 1rem;
    margin-bottom: 15px; 
    margin-left: 15px;
    margin-top: -30px;
    width: 150px;
    height: auto;
}

.history {
    margin: 20px 0;
    border: 2px solid var(--font-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10px 1fr;
    align-items: center; 
    text-align: center; 
}

.history img {
    grid-column: 2 / 3;
    justify-self: center;
}

.history h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    grid-row: 1 / 2;
    grid-column: 1 / 4; 
    text-align: center;
    padding-top: 70px;
}

.founded {
    grid-column: 1 / 2;
    grid-row: 2;
    text-align: left;
    padding: 30px 0px 30px 50px;
}

.history p {
    grid-column: 3 / 4;
    grid-row: 2;
    text-align: left;
    padding-right: 50px;
}

.adventures {
    margin: 20px 0;
    border: 2px solid var(--font-color);
}

.adventures h2 {
    display: flex;
    justify-content: center;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

figure {
    text-align: center; 
}

figure img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
}

footer {
    background: var(--footer-bg-color);
    color: var(--accent1-color);
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    padding: 10px 0;
    border: 2px solid var(--font-color);
    display: grid;
    grid-template-columns: 60rem 1fr 30px;
    align-items: center;
}

footer p {
    margin-left: 20rem;
}

.social.links {
    display: flex;
    align-content: space-around;
    justify-content: right;
}

.social.links a {
    margin: 0 10px;
    text-decoration: none;
    padding: 0 10px 0 0;
}
