:root {
    --primary-color: #066B9D; 
    --secondary-color: #3FBCDE; 
    --accent1-color: #FFBA0A; 
    --accent2-color: #ADADAD; 
    --font-color: #333333; 
    --footer-bg-color: #021E2C; 
    --hero-bg-color: rgba(255, 186, 10, 0.8); 
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--font-color);
    max-width: 80rem;
    margin: auto;
}

header {
    background: var(--secondary-color);
    padding: 1rem;
    border: 2px solid var(--font-color);
    height: 150px;
    display: grid;
    grid-template-columns: auto 4fr;
    margin-bottom: 20px;
    margin-top: 10px;
}

.header-container {
    display: grid;
    grid-template-columns: 5rem 1fr 30px; 
    align-items: center;
    grid-column-start: 2;
}

.header-container nav {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--font-color);
    border-radius: 5px;
    margin-left: 20rem;
    margin-right: 3rem;
}

.logo {
    display: grid;
    align-items: center;
    grid-column-start: 1;
    margin-left: 10rem;
    width: 100%;
    height: auto;
}

nav a:last-child {
    border-right: none;
}

.header-container nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0F0F0F;
    text-decoration: none;
    padding: 10px 15px;
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid var(--font-color);
}

.header-container nav a:hover {
    color: var(--accent2-color);
}

.hero {
    position: relative;
    border: 2px solid var(--font-color);
    margin-top: 10px;
}

.hero img {
    display: block; 
    width: 100%; 
    height: auto; 
}

.hero h1 {
    position: absolute;
    font-family: 'Noto Serif', serif;
    font-weight: 700; 
    bottom: 59.5%; 
    background-color: var(--hero-bg-color);
    color: var(--primary-color);
    font-size: 40px;
    padding: 10px; 
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero article h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 400; 
    margin-top: -5px;
    margin-left: 1rem;
}

.hero article {
    position: absolute;
    top: 34%; 
    left: 3%; 
    right: 3%; 
    background-color: var(--hero-bg-color); 
    padding: 5px; 
    border-radius: 10px;
    border: 1px solid var(--font-color);
    margin-left: 10px;
    margin-right: 10px;
}

.hero article p {
    margin-left: 1rem;
    color: var(--font-color);
}

.hero article img {
    float: right;
    margin-right: 1rem;
    margin-bottom: 15px; 
    margin-left: 15px;
    margin-top: -30px;
    width: 150px;
    height: auto;
}

.history-section {
    padding: 1rem;
    border: 2px solid var(--font-color);
    margin-top: 20px;
}

.history-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: center;
}

.history-text-left, .history-text-right {
    padding: 2rem;
    margin-top: 0;
    text-align: left;
}

.history-image h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 10px;
}

.history-image img {
    width: 100%;
    height: 230px;
    justify-items: center;
}

.adventures {
    margin: 20px 0;
    border: 2px solid var(--font-color);
}

.adventures h2 {
    display: flex;
    justify-content: center;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 8px;
    margin-right: 5px;
    margin-left: 5px;
}

figure {
    text-align: center; 
}

figure img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
}

footer {
    background: var(--footer-bg-color);
    color: var(--accent1-color);
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    padding: 10px 0;
    border: 2px solid var(--font-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 10px;
}

footer p {
    margin: 0;
    grid-column: 2;

}

.social.links {
    grid-column: 3;
    display: flex;
    align-content: space-around;
    justify-content: right;
    margin-right: 2rem;
}

.social.links a {
    margin: 0 10px;
    text-decoration: none;
    padding: 0 10px 0 0;
}


