:root {
    --primary-color: #066B9D; 
    --secondary-color: #3FBCDE; 
    --accent1-color: #FFBA0A; 
    --accent2-color: #ADADAD; 
    --font-color: #333333; 
    --footer-bg-color: #021E2C; 
    --hero-bg-color: rgba(255, 186, 10, 0.8); 
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--font-color);
    max-width: 80rem;
    margin: auto;
}

header {
    background: var(--footer-bg-color);
    padding: 1rem;
    border: 2px solid var(--font-color);
    height: 150px;
    display: grid;
    grid-template-columns: auto 4fr;
    margin-bottom: 20px;
    margin-top: 10px;
}

.header-container {
    display: grid;
    grid-template-columns: 5rem 1fr 30px; 
    align-items: center;
    grid-column-start: 2;
}

.header-container nav {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--font-color);
    border-radius: 5px;
    margin-left: 20rem;
    margin-right: 3rem;
    background-color: #ACE5E6;
}

.logo {
    display: grid;
    align-items: center;
    grid-column-start: 1;
    margin-left: 10rem;
    width: 100%;
    height: auto;
}

nav a:last-child {
    border-right: none;
}

.header-container nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--footer-bg-color);
    text-decoration: none;
    padding: 10px 15px;
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid var(--font-color);
}

.header-container nav a:hover {
    color: var(--accent1-color);
}

.hero {
    position: relative;
    border: 2px solid var(--font-color);
    margin-top: 10px;
}

.hero img {
    display: block; 
    width: 100%; 
    height: auto; 
}

.hero h1 {
    position: absolute;
    font-family: 'Noto Serif', serif;
    font-weight: 700; 
    bottom: 59.5%; 
    background-color: var(--hero-bg-color);
    color: var(--primary-color);
    font-size: 40px;
    padding: 10px; 
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero article h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 400; 
    margin-top: -5px;
    margin-left: 1rem;
}

.hero article {
    position: absolute;
    top: 34%; 
    left: 3%; 
    right: 3%; 
    background-color: var(--hero-bg-color); 
    padding: 5px; 
    border-radius: 10px;
    border: 1px solid var(--font-color);
    margin-left: 10px;
    margin-right: 10px;
}

.hero article p {
    margin-left: 1rem;
    color: var(--font-color);
}

.hero article img {
    float: right;
    margin-right: 1rem;
    margin-bottom: 15px; 
    margin-left: 15px;
    margin-top: -30px;
    width: 150px;
    height: auto;
}

.company-info {
    margin-top: 20px;
    text-align: center;
    border: 2px solid var(--font-color);
    height: 240px;
}

.contact-box {
    padding: 1.5rem;
    border: 2px solid var(--font-color);
    width: 450px;
    margin: 0 auto;
    background-color: var(--hero-bg-color);
}

.contact-box p {
    text-align: left;
    padding-left: 1rem;
    margin: 5px;
}

.contact-box p strong {
    font-weight: 700;
}

.contact-box a {
    color: var(--font-color); 
    text-decoration: none;  
}

.contact-box a:hover {
    color: var(--primary-color);
}

.map iframe { 
    width: 100%; 
    height: 450px;
    border: none;
    display: block;
    box-sizing: border-box;
    border-top: 2px solid var(--font-color);   
}

.map {
    margin-top: 20px;
    border: 2px solid var(--font-color);
    width: 100%;
    padding: 0;
}

.map h2 {
    border: 2px solid var(--font-color);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-left: 3rem;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 8px;
    margin: 0 5px;
}

.team-grid .manager img {
    width: 100%; 
    max-width: 400px; 
    max-height: 220px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.employees {
    margin-top: 20px;
    border: 2px solid var(--font-color);
}

.employees h1 {
    border-radius: 10px;
    border: 2px solid var(--font-color);
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
}

form {
    display: grid;
    place-items: center;
    margin: 20px auto;
    border: 2px solid var(--font-color);
    width: 100%;
    background-color: #F5F7FA;
    padding: 1rem;
    box-sizing: border-box;
    padding-left: 15rem;
    padding-right: 15rem;
}

.name-email {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 1.8rem;
    color: var(--font-color);
}

form label {
    margin-bottom: 8px;
    color: var(--font-color);
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--font-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    box-sizing: border-box;
}

form input[type="radio"] {
    margin-right: 10px;
}

.radio-group {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-bottom: 20px;
    color: var(--font-color);
    gap: 20px;
}

form textarea {
    resize: vertical;
}

form input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 0;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-bottom: 15px;
}

form button[type="submit"] {
    display: block;
    width: 150px;
    padding: 12px;
    background-color: var(--footer-bg-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 2rem;
}

form button[type="submit"]:hover {
    background-color: var(--accent1-color);
}


.history-section {
    padding: 1rem;
    border: 2px solid var(--font-color);
    margin-top: 20px;
}

.history-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: center;
}

.history-text-left, .history-text-right {
    padding: 2rem;
    margin-top: 0;
    text-align: left;
}

.history-image h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 10px;
}

.history-image img {
    width: 100%;
    height: 230px;
    justify-items: center;
}

.adventures {
    margin: 20px 0;
    border: 2px solid var(--font-color);
}

.adventures h2 {
    display: flex;
    justify-content: center;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 8px;
    margin-right: 5px;
    margin-left: 5px;
}

.team-building img, .family-bonding img {
    width: 100%; 
    height: 105px;
    object-fit: cover;
    border-radius: 10px;
}

figure {
    text-align: center; 
}

figure img {
    width: 100%; 
    border-radius: 10px; 
}

footer {
    background: var(--footer-bg-color);
    color: var(--accent1-color);
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    height: 80px;
    padding: 1rem 0; 
    border: 2px solid var(--font-color);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
}

.footer-center {
    display: grid;
    flex-direction: column;
    align-items: center; 
    flex-grow: 1; 
    margin: 0 auto; 
    margin-left: 15rem;
}

.footer-center p {
    margin: 5px 0; 
}

footer a {
    text-decoration: none;
    color: var(--accent1-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

footer a:hover {
    color: var(--secondary-color);
}

.footer-right {
    display: flex; 
    justify-content: flex-end; 
}

.footer-container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    margin: 0 auto;        
}

.footer-social {
    margin-left: -17rem;
}

.social.links {
    display: flex; 
    margin-right: 3rem;
}

.social.links a {
    margin: 0 10px; 
}